{% extends 'base.html' %}

{% block content %}

<div class="welcome-page">
    <div class="welcome">
        <h1 class="title">APPTIVITIES</h1>
        <h4>About Us</h4>
    </div>

    <div class="container">
        <div>
            <p>Welcome to Apptivities, the ultimate destination for discovering local activities and events that match your interests. Our mission is to make it easy for you to find fun things to do in your city, no matter where you are </p>
            <p> At Apptivities, we understand that everyone has their own unique interests and preferences when it comes to finding things to do. That's why we've created a platform that allows you to input your location and select from a wide variety of interests, from food and drink to sports and outdoor activities. </p>
            <p> Once you've entered your preferences, our app goes to work finding the best events and activities happening in your area. We scour the web and local listings to bring you up-to-date information on the latest happenings, so you never miss out on anything exciting. </p>
            <p>At the end of the day, our goal at Apptivities is simple: to help you live your best life by discovering all the amazing things your city has to offer. So why wait? Download our app today and start exploring!</p>
        </div>
    </div>
</div>

{% endblock %}