{% extends 'user_base.html' %}
{% block content2 %}



<div class="row">

    <div class="one-half column user-card">
        <h3 id="edit-interests">Current Interests</h3>
        <a href="{% url 'interests' user.id %}" class="button button-primary">Finish Editing</a>
        {% for interest in appuser.interests %}
            <div class="interest-edit row">
                <p class="six columns">{{ interest }}</p>
                <a href="{% url 'remove_interest' user.id interest %}" class="button">remove</a>
            </div>
        {% endfor %}       
    </div>
    
    <div class="one-half column user-card">
        <h3 id="edit-interests">Add interests </h3>
        {% for interest in appuser.all_interests %}
            {% if interest not in appuser.interests %}
            <div class="interest-edit row">
                <p class="six columns">{{ interest }}</p>
                <a href="{% url 'add_interest' user.id interest %}" class="button">add</a>
            </div>
            {% endif %}
        {% endfor %}        
    </div>

</div>

<script>
    const editInterests = document.getElementById('edit-interests');

</script>

{% endblock %} 