{% extends 'user_base.html' %}
{% block content2 %}

<h2>Tell Me What to Do! {{appuser.id}} {{user.id}}</h2>

<div class="row">
    <div class="one-half column user-card">

        <form action="{% url 'ai_rec' appuser.id %}" method="post" id="user-location-form">
            {% csrf_token %}
            <label for="location">Enter your current location:</label>
            <input type="text" name="location" id="location" placeholder=" San Francisco ">
            <button type="submit" class="button">Get Recommendations</button>
        </form>

        {% if recommendation %}
        <div>
            {% for activity in recommendation %}
                <p>{{ activity }}</p>
                <form method="post" action="{% url 'add_wishlist' appuser.id activity %}">
                    {% csrf_token %}
                    <input type="submit" value="Add to Wishlist" class="button" id="rec-btn">
                </form>
                    <!-- CRUD for Activity model - when a user clicks this button, it redirects to the CreateActivity form and pre-fills the form with the activity name generated here. so this ai function becomes the basis of the CRUD operations for the activity model. we can update that model to have a boolean to see if it's done or not. if the user edits the activity wishlist to be completed, then it moves to past activities   -->

            {% endfor %}
        </div>
        {% else %}
        <div class="results" id="rec-results">
            <p>Activities loading....</p>
        </div>
        {% endif %}

        </div>


    </div>
</div>


{% endblock %}