{% extends 'user_base.html' %}
{% block content2 %}

<h2>Find Activities </h2>

<div class="row">
    <div class="two-thirds column user-card">

        <form action="{% url 'ai_rec' appuser.id %}" method="post" id="user-location-form">
            {% csrf_token %}
            <label for="location">Enter your current location:</label>
            <input type="text" name="location" id="location" placeholder="Ex: San Francisco, CA">
            <button type="submit" class="button" id="rec-btn">Get Recommendations</button>
        </form>

        {% if recommendation %}

        <div class="results-display">
            {% for activity in recommendation %}
                <p>{{ activity }}</p>
                <form method="post" action="{% url 'add_wishlist' appuser.id activity %}">
                    {% csrf_token %}
                    <input type="submit" value="Add to Wishlist" class="button" id="wish-btn">
                </form>
            {% endfor %}    
        </div>

        {% else %}

        <div class="loading" id="loading">
            <p>Activities loading....</p>
        </div>

        {% endif %}

    </div>
</div>

<script>
    const recBtn = document.getElementById('rec-btn');
    const loading = document.getElementById('loading');
    
    recBtn.addEventListener('click', () => {
        loading.classList.remove('loading');
    })

</script>

{% endblock %}