{% extends 'base.html' %}
{% block content %}

<div class="container buffer">

    <h2>Activity Information</h2>

    <div class="activity-card">
        <h4>{{ activity.name }}</h4>
        <p>{{ activity.description }}</p>
        <div id="interest-array">
            {% if activity.interests %}
                <p>Associated Interests:</p>
                <ul>
                    {% for interest in activity.interests %}
                        <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> </p>
            {% endif %}
        </div>
        
        <a href="{% url 'add_activity_wish' activity.id user.id %}" class="button button-primary">Add to Wishlist</a>
        {% if user.is_staff %}
            <a href="{% url 'activity_update' activity.id %}" class="button">Edit</a> 
            <a href="{% url 'activity_delete' activity.id %}" class="button button-del">Delete</a>
        {% endif %}
    </div>

    <a href="{% url 'activity' %}" class="button">View all Activities</a>

</div>

<script>
    // let interestArray = document.getElementById('interest-array').innerHTML
    
</script>

{% endblock %} 