{% extends 'base.html' %}
{% block content %}

<div class="container buffer">
    <h1>Activities</h1>

    <ul>
        {% for activity in object_list %}
            <li>
                <ul>
                <li>Name: {{ activity.name }}</li>
                <li>Description: {{ activity.description }}</li>
                <li>
                    Associated Interests:
                    <ul>
                    {% for interest in activity.interests %}
                    <li>{{ interest }}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'activity_update' activity.id %}">Edit</a> <a href="{% url 'activity_detail' activity.id %}">Details</a> <a href="{% url 'activity_delete' activity.id %}">Delete</a></li>
                </ul>
            </li>
        {% empty %}
            <li>No activities yet.</li>
        {% endfor %}
    </ul>

</div>

{% endblock %} 