{% extends 'user_base.html' %}
{% block content2 %}

<h2>Interests</h2>

<div class="row">
  <div class="one-half column user-card">
    <h3>Current Interests </h3>
    <h3>{{user.get_username}}</h3>
    <ul>
      {% for interest in appuser.interests %}
      <li>{{ interest }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="one-half column user-card">
    {% if object %}
      <h3>Edit <span>{{ user.get_username }}'s Interests</span></h3>
    {% else %}
      <h3>Add Interests</h3>
    {% endif %}

    <form action="" method="POST">
      <div class="u-full-width">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="button-primary">
      </div>
    </form>
  </div>
</div>

{% endblock %} 